#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  opensign-client.service
BindsTo=opensign.service
After=opensign.service mongo-app.service opensign-server.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/frontend.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/opensign-app.pid %t/opensign-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/opensign-app.pid \
    --cidfile %t/opensign-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/opensign.pod-id --replace -d --name  opensign-app \
    --volume client-app:/usr/app \
    --volume /usr/app/node_modules \
    --env=REACT_* \
    --env GENERATE_SOURCEMAP=${GENERATE_SOURCEMAP} \
    --env PUBLIC_URL=${PUBLIC_URL} \
    --env REACT_APP_SERVERURL=${REACT_APP_SERVERURL} \
    ${OPENSIGN_IMAGE} npm start
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/opensign-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP opensign-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/opensign-app.ctr-id
PIDFile=%t/opensign-app.pid
Type=forking

[Install]
WantedBy=default.target
