#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  opensign-server.service
BindsTo=opensign.service
After=opensign.service mongo-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/opensign-app.pid %t/opensign-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/opensign-app.pid \
    --cidfile %t/opensign-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/opensign.pod-id --replace -d --name  opensign-app \
    --volume ./apps/OpenSignServer/:/usr/src/app:Z \
    --volume /usr/src/app/node_modules:Z \
    --env=OPENSIGNSERVER_* \
    ${OPENSIGNSERVER_IMAGE} /usr/src/app/node_modules/.bin/nodemon server.js
ExecStartPost=/usr/bin/podman exec opensign-server sed -i "s;\"mongodb\": \"mongodb://mongodb:27017/opensign\";\"mongodb\": \"mongodb://mongo-app:27017/opensign\";"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/opensign-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP opensign-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/opensign-app.ctr-id
PIDFile=%t/opensign-app.pid
Type=forking

[Install]
WantedBy=default.target
